<% content_for :javascript do %>
  <script type='text/javascript'>
    function getTimezoneAbbreviation(timezone) {
      const now = new Date();
      const options = { timeZone: timezone, timeZoneName: 'short' };
      const abbreviation = now.toLocaleTimeString('en-US', options).split(' ')[2];
      return abbreviation;
    }

    document.addEventListener("DOMContentLoaded", function () {
      const clientTimezoneField = document.querySelector("#client_timezone");
      const clientTimezoneLabel = document.querySelector("#time-select-label")

      const clientTimezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
      clientTimezoneField.value = clientTimezone;
      const abbreviation = getTimezoneAbbreviation(clientTimezone);
      const span = document.createElement("span");
      span.textContent = ` (${abbreviation})`;
      span.style.paddingLeft = "5px";

      // Append the new span to the label
      clientTimezoneLabel.appendChild(span);
    });
  </script>
<% end %>

<%= form_for @config do |form| %>
  <div class="row">
    <div class="six columns">
      <label for="exampleRecipientInput" class="inline-icon">
        <%= material_icon.shape(:settings).md_18 %>&nbspEnabled
      </label>
      <%= select_tag :enabled, options_for_select([["True", true], ["False", false]]), class: 'u-full-width' %>
    </div>
    <div class="six columns">
      <label for="exampleRecipientInput" class="inline-icon">
        <%= material_icon.shape(:tag).md_18 %>&nbspChannel
      </label>
      <%= select_tag :channel_id, options_for_select(@channel_select), class: 'u-full-width' %>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <label for="exampleRecipientInput" class="inline-icon" id="time-select-label">
        <%= material_icon.shape(:schedule).twotone.md_18 %>&nbspTime
      </label>
      <%= time_select :time, :time, {hour: 'Choose hour', minute: 'Choose minute'}, {default: {hour: @config.value.dig("time", "hour"), minute: @config.value.dig("time", "minute")}} %>
      <%= hidden_field_tag :client_timezone, id: "client_timezone_field" %>
    </div>
  </div>
  <%= form.submit class: "button-primary" %>
<% end %>
