<% content_for :javascript do %>
  <script type='text/javascript'>
    function getTimezoneAbbreviation(timezone) {
      const now = new Date();
      const options = { timeZone: timezone, timeZoneName: 'short' };
      const abbreviation = now.toLocaleTimeString('en-US', options).split(' ')[2];
      return abbreviation;
    }
  </script>
<% end %>

<div class="row">
  <div class="twelve columns">
    <h4>
      <label for="exampleRecipientInput" class="inline-icon"><%= material_icon.shape(:calendar_month).md_36 %>&nbspAuto Attendance</label>
    </h4>
  </div>
</div>

<%= form_for @config do |form| %>
  <div class="row">
    <div class="six columns">
      <label for="exampleRecipientInput" class="inline-icon">
        <%= material_icon.shape(:settings).md_18 %>&nbspEnabled
      </label>
      <%= select_tag :enabled, options_for_select([["True", true], ["False", false]]), class: 'u-full-width' %>
    </div>
    <div class="six columns">
      <label for="exampleRecipientInput" class="inline-icon">
        <%= material_icon.shape(:tag).md_18 %>&nbspChannel
      </label>
      <%= select_tag :channel_id, options_for_select(@channel_select), class: 'u-full-width' %>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <label for="exampleRecipientInput" class="inline-icon" id="time-select-label">
        <%= material_icon.shape(:schedule).twotone.md_18 %>&nbspTime (<%= @converted_time.zone %>)
      </label>
      <%= time_select :time, :time, hour: 'Choose hour', minute: 'Choose minute', ampm: true, default: {hour: @converted_time.hour, minute: @converted_time.min} %>
    </div>
  </div>
  <%= form.submit class: "button-primary" %>
<% end %>
