<%= form_for @config do |form| %>
  <div class="row">
    <div class="six columns">
      <label for="exampleRecipientInput" class="inline-icon"><%= material_icon.shape(:forum).md_18 %> Guild Member Role</label>
      <%= form.select :value, {}, {}, {class: 'u-full-width'} do %>
        <% @config.guild.roles.each do |role| %>
          <%= content_tag :option, role['name'], value: role["id"] %>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= form.submit class: "button-primary" %>
<% end %>
