<% content_for :javascript do %>
  <script type='text/javascript'>
    new SlimSelect({
      select: '#selectElement',
      settings: {
        closeOnSelect: false,
        allowDeselect: true,
        maxSelected: 25,
        maxValuesShown: 25,
      },
    })

    new SlimSelect({
      select: '#selectRoles',
      settings: {
        closeOnSelect: false,
        allowDeselect: true,
        maxSelected: 25,
        maxValuesShown: 25,
      },
    })

    function getTimezoneAbbreviation(timezone) {
      const now = new Date();
      const options = { timeZone: timezone, timeZoneName: 'short' };
      const abbreviation = now.toLocaleTimeString('en-US', options).split(' ')[2];
      return abbreviation;
    }

    document.addEventListener("DOMContentLoaded", function () {
      const clientTimezoneField = document.querySelector("#client_timezone");
      const clientTimezoneLabel = document.querySelector("#time-select-label")

      const clientTimezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
      clientTimezoneField.value = clientTimezone;
      const abbreviation = getTimezoneAbbreviation(clientTimezone);
      const span = document.createElement("span");
      span.textContent = ` (${abbreviation})`;
      span.style.paddingLeft = "5px";

      // Append the new span to the label
      clientTimezoneLabel.appendChild(span);
    });
  </script>
<% end %>

<%= form_for @config do |form| %>
  <div class="row">
    <div class="four columns">
      <label for="exampleRecipientInput" class="inline-icon"><%= material_icon.shape(:visibility_off).twotone.md_18 %>&nbspHide Empty Rows</label>
      <%= select_tag :hide_empty_rows, options_for_select([["True", true], ["False", false]]), class: 'u-full-width' %>
    </div>
    <div class="four columns">
      <label for="exampleRecipientInput" class="inline-icon"><%= material_icon.shape(:visibility_off).twotone.md_18 %>&nbspTable Style</label>
      <%= select_tag :table_style, options_for_select([["Fancy Grid", "fancy_grid"], ["Simple", "simple"], ["List View", "list_view"]]), class: 'u-full-width' %>
    </div>
    <div class="four columns">
      <label for="exampleRecipientInput" class="inline-icon"><%= material_icon.shape(:tag).twotone.md_18 %>&nbspChannel</label>
      <%= select_tag :channel_id, options_for_select(@channel_select), class: 'u-full-width' %>
    </div>
  </div>
  <div class="row">
    <div class="four columns">
      <label for="exampleRecipientInput" class="inline-icon" id="time-select-label">
        <%= material_icon.shape(:schedule).twotone.md_18 %>&nbspTime
      </label>
      <%= time_select :time, :time, {hour: 'Choose hour', minute: 'Choose minute'}, {default: {hour: @config.value.dig("time", "hour"), minute: @config.value.dig("time", "minute")}} %>
      <%= hidden_field_tag :client_timezone, id: "client_timezone_field" %>
    </div>
    <div class="four columns">
      <label for="exampleRecipientInput" class="inline-icon"><%= material_icon.shape(:alternate_email).twotone.md_18 %>&nbspRoles</label>
      <%= select_tag :role_ids, options_for_select(@role_multiselect, selected: @config.value["role_ids"]), id: "selectRoles", class: 'u-full-width slim-dropdown', multiple: true %>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <label for="exampleRecipientInput" class="inline-icon"><%= material_icon.shape(:shield).twotone.md_18 %>&nbspClasses</label>
      <%= select_tag :build_classes, options_for_select(@guild_build_options, selected: @config.value["classes"]), id: "selectElement", class: 'u-full-width slim-dropdown', multiple: true %>
    </div>
  </div>
  <%= form.submit class: "button-primary" %>
<% end %>
