<div class="row">
  <div class="one column">
    <%= link_to guild_path(@config.guild), style: "display:flex; align-items: center;" do %>
      <%= material_icon.shape(:arrow_back).md_18 %> <span>back</span>
    <% end %>
  </div>
  <div class="four columns">
    <%= image_tag image_url(@config.guild.remote_image_url), class: "guild-img" %>
  </div>
  <div class="four columns">
    <h1 class="form-header"><%= @config.guild.name %></h1>
  </div>
</div>

<br />

<% case @config.name %>
<% when "build_update_channel_id" %>
  <%= render "build_update_channel_form", config: config %>
<% when "raid_days" %>
  <%= render "raid_days_form", config: config %>
<% when "guild_member_role_id" %>
  <%= render "guild_member_form", config: config %>
<% when "raid_notification" %>
  <%= render "raid_notification_form", config: config %>
<% when "build_manager_role_ids" %>
  <%= render "build_manger_roles_form", config: config %>
<% when "build_forum_channel_id" %>
  <%= render "build_forum_channel_form", config: config %>
<% when "auto_attendance" %>
  <%= render "auto_attendance_form", config: config %>
<% when "allowed_admin_role_ids" %>
  <%= render "allowed_admins_form", config: config %>
<% when "raid_reminder" %>
  <%= render 'raid_reminder_form', config: config %>
<% when "review_forum_channel_id" %>
  <%= render 'review_forum_channel_form', config: config %>
<% when "disabled_modules" %>
  <%= render 'disabled_modules_form', config: config %>
<% when "arcdps_updates", "game_updates" %>
  <%= render 'updates_form', config: config %>
<% else %>
  <div><pre><code><%= JSON.pretty_generate(@config.value) %></code></pre></div>
<% end %>
