<!DOCTYPE html>
<html>
  <head>
    <title>EwwWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script>
      function closeNotice() {
        const banner = document.querySelector('.notice');
        if (banner) {
          banner.style.display = 'none';
        }
      }
      function closeAlert() {
        const banner = document.querySelector('.alert');
        if (banner) {
          banner.style.display = 'none';
        }
      }
    </script>
</head>
<body>
  <div class="header">
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag("eww-bot-console-logo-white.png", alt: "Logo", style: "width: 300px") %>
      <% end %>
    </div>

    <%- if current_user %>
      <div class="login">
        <%= image_tag(current_user.remote_image_url, class: "avatar") %> <span class="username"><%= current_user.username %></span>
      </div>
    <% end %>
  </div>
  <div class="content">
    <% if notice %>
      <p class="notice">
        <%= notice %>
        <span class="close-icon" onclick="closeNotice()">&times;</span>
      </p>
    <% end %>
    <% if alert %>
      <p class="alert">
        <%= alert %>
        <span class="close-icon" onclick="closeAlert()">&times;</span>
      </p>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
